
Assignments/ElizabethClawson/2.0/.DS_Store
Assignments/ElizabethClawson/.DS_Store
Assignments/ElizabethClawson/2.0/.DS_Store
.DS_Store
Assignments/ElizabethClawson/.DS_Store
.DS_Store
Assignments/ElizabethClawson/.DS_Store
Assignments/ElizabethClawson/2.0/.DS_Store
Assignments/ElizabethClawson/2.1/.DS_Store
Assignments/ElizabethClawson/2.2/.DS_Store
