html {
  height: 100%;
}

body {
  margin: 100px auto 0 auto;
  width: 80%;
text-align:left;
  font-family: "monospace";
  font-weight: bold;
}
canvas {
  margin: auto;
  align-content: center;
  display: block;

}
