*{margin: 0;
padding: 0;}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

body { 
  font-family: 'Open Sans', 'sans-serif';
  color: #cecece;
  background: #222;
  overflow: hidden;
}

.item-1, 
.item-2, 
.item-3,
.item-4,
.item-5,
.item-6,
.item-7,
.item-8,
.item-9,
.item-10 {
	position: absolute;
  display: block;
	top: 2em;
  
  width: 60%;
  
  font-size: 2em;

	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.item-1{
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
}

.item-3{
	animation-name: anim-3;
}

.item-4{
	animation-name: anim-4;
}

.item-5{
	animation-name: anim-5;
}

.item-6{
	animation-name: anim-6;
}

.item-7{
	animation-name: anim-7;
}

.item-8{
	animation-name: anim-8;
}

.item-9{
	animation-name: anim-9;
}

@keyframes anim-1 {
	0%, 10% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  10%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 20% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  20%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 30% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  30% { left: 110%; opacity: 0; }
}

@keyframes anim-4 {
	0%, 40% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  40%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-5 {
	0%, 50% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  50%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-6 {
	0%, 60% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  60% { left: 110%; opacity: 0; }
}

@keyframes anim-7 {
	0%, 70% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  70% { left: 110%; opacity: 0; }
}

@keyframes anim-8 {
	0%, 80% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  80% { left: 110%; opacity: 0; }
}

@keyframes anim-9 {
	0%, 90% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  90% { left: 110%; opacity: 0; }
}