html {

  margin: 0;
  padding: 0,0;
  background-image: url("assets1/lights.png");
  background-size: 150%
}

body{
  margin: 100px auto 0 auto;
  width: 80%;
  text-align: center;
  text-decoration-color: white;
  font-family: "courier" monospace;
}
canvas {

  margin: 0 auto 0 auto;
  display: block;
  border: 5px solid #fffbad;
}
